
.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Example of a specific weight class */
.roboto-mono-500 {
    font-weight: 500;
}

/* You can add more classes for different weights if needed */
.roboto-mono-700 {
    font-weight: 700;
}