<div class="container mx-auto grid grid-cols-2 lg:grid-cols-4 gap-4 p-4 px-12 xl:px-32 pb-20 content">
    
    <div
        class="bg-white col-span-2 md:col-span-1 lg:col-span-2 dark:bg-gray-800 rounded-[30px] p-5 sm:p-8 flex flex-col gap-4 h-auto hover:shadow-lg dark:hover:shadow-xl">
        <img class="w-16 lg:w-24" src="assets/img/okeeeey.svg" alt="">
        <div class="relative inline-block">
            <p class="font-medium text-gray-500 dark:text-gray-300 text-md">{{tools}}
            </p>
        </div>
    </div>
    
    @for (item of items; track $index) {
    <div
        class="bg-white col-span-2 md:col-span-1 lg:col-span-1 rounded-[30px]  flex flex-col justify-center hover:shadow-lg min-h-[280px] dark:bg-gray-800 dark:text-white items-start relative group">
        <!-- Image positioned in the top left corner, ensuring it stays circular and shows all content -->
        <div class="m-5">
            <div class="w-12 h-12 flex items-center justify-center absolute inset-x-0 top-0 ml-6 mt-6">
                <img class="w-full h-full object-contain" [src]="item.image" alt="">
            </div>

            <!-- Text container with left-aligned text -->
            <div class="mt-4 text-left w-full mb-3">
                <h2 class="text-2xl roboto-mono-500 text-gray-800 dark:text-white">{{item.name}}</h2>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">{{item.description}}</p>
            </div>
            <a href="{{item.link}}" target="_blank">
                <div
                    class="bg-gray-300 dark:bg-gray-700 w-10 h-10 rounded-full absolute bottom-0 left-0 m-4 flex justify-center items-center hover:ring-4 ring-gray-200 dark:ring-gray-400 hover:transition duration-700 ease-in-out">
                    <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 18.256 18.256" style="transition:.3s">
                        <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                            <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581"
                                transform="translate(-7.05 -7.012)" fill="none" stroke="#0D1117" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.5"></path>
                            <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287"
                                transform="translate(-7.756 -7)" fill="none" stroke="#0D1117" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.5"></path>
                        </g>
                        <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
                    </svg>
                </div>
            </a>
        </div>

    </div>

    }
</div>