<nav class="w-full z-20 top-0 start-0 h-20 mb-6">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <h2 class="font-bold font-playwrite text-sky-800 text-[25px] lg:text-[20px]">Akshay
        </h2>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

            <button data-collapse-toggle="navbar-sticky" class="md:hidden" aria-controls="navbar-sticky"
                aria-expanded="false">
                <img class="w-14 lg:w-16" src="/assets2/menu.svg" alt="">
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 z-20 p-4" id="navbar-sticky">
            <ul
                class="flex flex-col md:p-1 mt-2 font-medium rounded-[30px] md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 border-2 border-gray-300 dark:border-gray-700 bg-transparent backdrop-filter backdrop-blur-sm p-2">
                <a routerLink="/home" routerLinkActive="bg-white dark:bg-gray-800 lg:rounded-full">
                    <li class="lg:rounded-full text-black dark:text-white text-center px-4 py-1 m-1 
                                hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-black dark:hover:text-white 
                                transition duration-300 ease-in-out">
                        Home
                    </li>
                </a>
                <a routerLink="/about" routerLinkActive="bg-white dark:bg-gray-800 lg:rounded-full">
                    <li class="lg:rounded-full text-black dark:text-white text-center px-4 py-1 m-1 
                                hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-black dark:hover:text-white 
                                transition duration-300 ease-in-out">
                        About
                    </li>
                </a>
                <a routerLink="/tools" routerLinkActive="bg-white dark:bg-gray-800 lg:rounded-full">
                    <li class="lg:rounded-full text-black dark:text-white text-center px-4 py-1 m-1 
                                hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-black dark:hover:text-white 
                                transition duration-300 ease-in-out">
                        Tools
                    </li>
                </a>
            </ul>
        </div>
    </div>
</nav>