<main *ngIf="blogPost$ |  async as blogPost">
    <div class="container mx-auto grid grid-cols-2 gap-4 p-4 px-10 xl:px-32 pb-20 content h-full">
        @for (blogPosts of blogPost.items; track $index) {
        <!-- <pre>{{blogPosts | json}}</pre> -->
        <div
            class="bg-white row-span-2 md:row-span-1 col-span-2 dark:bg-gray-800 rounded-[30px] p-3 md:p-6 flex flex-col gap-4 h-[350px]  md:h-[270px] hover:shadow-lg dark:hover:shadow-xl hover-trigger relative">


        <div class="grid grid-cols-4 sm:mb-4">
            <!-- Image -->
            <div class="md:col-span-1 col-span-4">
                <img class="w-full h-[100px] md:h-full object-contain rounded-lg p-2"
                    [src]="blogPosts.fields.poster.fields.file.url" alt="project name">
            </div>
        
            <div class="md:col-span-3 col-span-4">
                <!-- Title -->
                <h5 class="md:mb-2 lg:text-xl font-bold font-mono text-gray-900 dark:text-white p-2">
                    {{ blogPosts.fields.heading }}
                </h5>
        
                <!-- Description -->
                <p class="font-sans text-gray-700 dark:text-gray-300 text-xs md:text-sm p-2 mb-3">
                    {{ blogPosts.fields.quickLook }}
                </p>
        
                <div class="flex flex-wrap items-center">
                    <ng-container *ngFor="let tag of blogPosts.fields.tags; let index = index">
                        <span [ngStyle]="{'background-color': tag.color}"
                            class="text-white text-xs font-medium me-2 mb-1 px-2 py-0.5 rounded-full">
                            #{{ tag.name }}
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>



            <div class="md:flex gap-x-5 md:gap-x-8">
                <!-- website -->
                @if (blogPosts.fields.link != false) {
                <a href="{{blogPosts.fields.link}}" target="_blank">
                    <div
                        class="bg-gray-300 dark:bg-gray-700 w-10 h-10 rounded-full absolute bottom-0 left-0 m-4 flex justify-center items-center hover:ring-4 ring-gray-200 dark:ring-gray-400 hover:transition duration-700 ease-in-out">
                        <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 18.256 18.256" style="transition:.3s">
                            <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                                <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581"
                                    transform="translate(-7.05 -7.012)" fill="none" stroke="#0D1117"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                </path>
                                <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287"
                                    transform="translate(-7.756 -7)" fill="none" stroke="#0D1117" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.5">
                                </path>
                            </g>
                            <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
                        </svg>
                    </div>
                </a>
                }
                <!-- date -->
                <div class="absolute bottom-0 right-0 sm:flex items-center space-x-2 m-5">
                    <!-- @for (tags of blogPosts.fields.tags; track $index) {
                    <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                        #{{ tags.name }}</span>
                    } -->
                    <!-- date -->
                    <p class="text-gray-500 text-sm">{{ blogPosts.sys.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
            </div>
        </div>
        }

    </div>

</main>