<div class="container mx-auto grid grid-cols-2  lg:grid-cols-4 gap-4 p-4 px-10 xl:px-32 pb-20 content">
    <div
        class="bg-white row-span-2 md:row-span-1 col-span-4 dark:bg-gray-800 rounded-[30px] p-6 sm:p-10 flex flex-col gap-4 md:h-[280px] hover:shadow-lg dark:hover:shadow-xl hover-trigger">
        <div class="relative w-20 h-20 lg:w-24 lg:h-24 image-container">
            <!-- <div class="absolute -right-32 -top-6 hidden -translate-y-14 rounded-full bg-orange-500 px-3 pb-2 pt-1 font-satoshi text-sm font-semibold leading-none tracking-wide text-white xs:text-lg xl:-right-28 xl:-top-2 xl:block xl:text-lg"
                style="filter: blur(0px); opacity: 1; transform: none;">
                <span class="inline-block text-base">Hi there!</span>
                <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="absolute -bottom-[11px] left-5 w-5 rotate-2 text-orange-500">
                    <path
                        d="M20.473.465c-2.222 5.25-5.185 9.662-10.413 12.585C9.04 6.101 6.946 4.072-.096 1.182L3.5 1l14-.5 2.973-.035z"
                        fill="currentColor">
                    </path>
                </svg>
            </div> -->
            <!-- Default Image -->
            <img class="default-image w-full h-full object-cover" src="assets/img/Me.png" alt="default image">
            <!-- Hover Image -->
            <img class="hover-image w-full h-full object-cover" src="assets/img/mepopper.png" alt="hover image">
        </div>
        <div class="relative inline-block">
            <p class="font-medium text-gray-500 dark:text-gray-300 text-md">
                {{ aboutme }}
            </p>
        </div>
    </div>

    <div
        class="bg-white col-span-4 lg:col-span-2 row-span-2 dark:bg-gray-800 rounded-[30px] p-6 flex flex-col gap-4 min-h-[560px] hover:shadow-lg dark:hover:shadow-xl hover-trigger">
        <div class="relative inline-block">
            <span class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block">
                Work Experience </span>
            <!-- Work Experience -->
            <!-- border-gray-300 dark:border-sky-800 hover:shadow-lg dark:hover:shadow-xl -->
            @for (item of work; track $index) {
            <div class="border rounded-xl my-6 p-3 ">
                <!-- Position -->
                <p class="text-md md:text-xl roboto-mono-500 bold text-sky-800 dark:text-white">
                    {{item.position}}
                </p>
                <div class="flex justify-between flex-grow">
                    <!-- Company -->
                    <p class="text-md md:text-xl roboto-mono-500 text-gray-800 dark:text-white break-keep">
                        {{item.company}}
                    </p>
                    <!-- Time period -->
                    <p class="text-xs md:text-md font-medium text-gray-500 dark:text-gray-300">{{item.time_period}}</p>
                </div>
                <!-- Position -->
                <p class="text-xs text-gray-500 dark:text-gray-300">{{item.place}}</p>
                <!-- Projects -->
                <span class="text-sm md:text-md font-medium text-sky-500 dark:text-gray-300 md:mb-3 break-keep">Projects
                    : </span>

                <div class="flex flex-wrap gap-4">
                    <!-- Projects -->
                    @for (tech of item.projects; track $index) {
                    <div>
                        <img class="w-32 sm:w-36 object-contain hover:shadow-lg dark:hover:shadow-xl" [src]="tech.image"
                            alt="projects">
                        <p class="font-medium text-gray-500 dark:text-gray-300 text-sm">{{tech.name}}</p>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>

    <div
        class="bg-white col-span-4 lg:col-span-2 row-span-2 dark:bg-gray-800 rounded-[30px] p-6 flex flex-col gap-4  hover:shadow-lg dark:hover:shadow-xl hover-trigger">
        <div class="relative inline-block">
            <!-- Education -->
            <span class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block">
                Education </span>
            @for (item of education; track $index) {
            <div
                class="border rounded-xl my-6 p-3 border-gray-300 dark:border-sky-800 hover:shadow-lg dark:hover:shadow-xl">
                <!-- qualified -->
                <p class="text-md md:text-xl roboto-mono-500  text-sky-800 dark:text-white mt-6">
                    {{item.qualified}}
                </p>
                <div class="flex flex-grow justify-between">
                    <!-- studied at -->
                    <p class="text-md md:text-xl roboto-mono-500 text-gray-800 dark:text-white break-keep">
                        {{item.studied_at}}
                    </p>
                    <!-- Time period -->
                    <p class="text-xs md:text-md font-medium text-gray-500 dark:text-gray-300">{{item.time_period}}</p>
                </div>
                <!-- Place -->
                <p class="font-medium text-gray-500 dark:text-gray-300">{{item.place}}</p>
            </div>
            }
        </div>
    </div>
</div>