:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 100%);
    --fg: hsl(var(--hue), 10%, 0%);
    --primary: hsl(var(--hue), 90%, 55%);
    --primaryT: hsla(var(--hue), 90%, 55%, 0);
    --transDur: 0.3s;
    font-size: calc(16px + (32 - 16) * (100vw - 320px) / (1280 - 320));
}

.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.theme__toggle {
    background-color: hsl(48, 90%, 85%);
    border-radius: 25% / 50%;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 6em;
    height: 3em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur) ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    border: none;
}

.theme__toggle:before {
    background-color: hsl(48, 90%, 55%);
    border-radius: 50%;
    content: "";
    width: 2.5em;
    height: 2.5em;
    transition: background-color var(--transDur) ease-in-out, transform var(--transDur) ease-in-out;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
}

.theme__toggle:checked {
    background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before {
    background-color: hsl(198, 90%, 55%);
    transform: translateX(3em);

}

.theme__icon-wrap {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

.theme__icon {
    width: 1.5em;
    height: 1.5em;
    display: block;
}

.theme__icon svg {
    width: 100%;
    height: 100%;
}

@supports selector(:focus-visible) {
    .theme__toggle:focus {
        box-shadow: 0 0 0 0.125em var(--primaryT);
    }

    .theme__toggle:focus-visible {
        box-shadow: 0 0 0 0.125em var(--primary);
    }
}