<div
    class="bg-white dark:bg-gray-800 rounded-[30px] p-6 sm:p-6 flex flex-col md:gap-4 h-[280px] hover:shadow-lg dark:hover:shadow-xl hover-trigger">
    <div class="relative w-20 h-20 lg:w-24 lg:h-24 image-container">
        <!-- Default Image -->
        <img class="default-image w-full h-full object-cover" src="assets/img/Me.png" alt="default image">

        <!-- Hover Image -->
        <img class="hover-image w-full h-full object-cover" src="assets/img/mecloud.png" alt="hover image">
    </div>
    <div class="relative inline-block">

        <!-- <button (click)="startConfetti()">Celebrate!</button>
        <div class="celebration-popup" *ngIf="showPopup">sdd
        </div> -->


        <p class="font-medium text-sm sm:text-base text-gray-500 dark:text-gray-300">
            I’m
            <span class="font-bold font-playwrite text-sm md:text-2xl text-black dark:text-white relative inline-block">
                Akshay
                <img src="assets/img/line-1.svg" alt="line" class="absolute border-bottom-2 left-0 w-full h-4">
            </span>,an enthusiastic Software developer from Kerala, India. I’m passionate about PHP, Laravel, Tailwind CSS, technology, and
            music, and I’m dedicated to using my skills to create impactful solutions.
        </p>
    </div>
</div>