<div
    class="bg-white dark:bg-gray-800 rounded-[30px] p-6 sm:p-10 flex flex-col gap-4 h-[280px] hover:shadow-lg dark:hover:shadow-xl hover-trigger">
    <div class="relative w-20 h-20 lg:w-24 lg:h-24 image-container">
        <!-- Default Image -->
        <img class="default-image w-full h-full object-cover" src="assets/img/Me.png" alt="default image">

        <!-- Hover Image -->
        <img class="hover-image w-full h-full object-cover" src="assets/img/mecloud.png" alt="hover image">
    </div>
    <div class="relative inline-block">
        <p class="font-medium text-gray-500 dark:text-gray-300">
            I’m
            <span class="font-bold font-playwrite text-2xl text-black dark:text-white relative inline-block">
                Akshay
                <img src="assets/img/line-1.svg" alt="line" class="absolute -bottom-2 left-0 w-full h-4">
            </span>, a Software Developer from Kerala, India. I'm interested in PHP, Laravel, Tailwind
            Design,
            Startups,
            Technology
            and Music.
        </p>
    </div>
</div>