
/* Custom animation for image swap */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container .default-image {
    opacity: 1;
}

.image-container .hover-image {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out;
}

.hover-trigger:hover .default-image {
    opacity: 0;
}

.hover-trigger:hover .hover-image {
    opacity: 1;
}