<div id="default-carousel" class="rounded-[30px] relative hover:shadow-md" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-[30px] h-[280px]">
        <!-- Item 1 Linked in-->
        <a href="https://www.linkedin.com/in/dev-akshay-p" target="_blank">
            <div class="bg-[#0077b7] dark:bg-gray-800 hidden duration-700 ease-in-out" data-carousel-item>
                <div class="absolute inset-0 block w-full flex items-center justify-center">
                    <img class="w-28 lg:w-20" src="assets/linkedin.svg" alt="">
                </div>
            </div>
        </a>
        <!-- Item 2 -->
        <a href="https://www.instagram.com/aks.haay_/" target="_blank">
            <div class="hidden duration-700 ease-in-out insta" data-carousel-item>
                <div class="absolute inset-0 block w-full flex items-center justify-center">
                    <img class="w-28 lg:w-20" src="assets/instagram.svg" alt="">
                </div>
            </div>
        </a>
        <!-- Item 3 Twitter -->
        <a href="https://x.com/ak_s__h_ay" target="_blank">
            <div class="bg-[#000000] dark:bg-gray-800 hidden duration-700 ease-in-out" data-carousel-item>
                <div class="absolute inset-0 block w-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                        width="80px" height="80px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"
                        fill="#ffffff">
                        <path
                            d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-white-500 group-hover:bg-white/50 dark:group-hover:bg-gray-300/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:white group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-white rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-white-500 group-hover:bg-white/50 dark:group-hover:bg-gray-300/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:white group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-white rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>