<div
    class="button bg-white  dark:bg-gray-800 col-span-2 rounded-[30px] relative h-[280px] hover:shadow-lg p-4 px-12 pb-20 overflow-hidden">
    <div class="bg-[#98d0ff] rounded-bl-full w-48 h-44 absolute top-0 right-0 flex items-center justify-center">
        <a href="https://drive.google.com/uc?export=download&id=1z8qQnXCCrZhcK4x0mmtytyW7FNt1eRqf" download
            target="_blank" class="block w-full h-full flex items-center justify-center">
            <button class="rounded-full bg-white relative flex hover:ring-4 ring-gray-200 border-2 border-gray-200">
                <img class="w-10 lg:w-16" src="assets/download.svg" alt="">
            </button>
        </a>
    </div>
    <img class="w-16 lg:w-16 relative" src="assets/Party popper.svg" alt="">
    <h2 class="font-bold font-raleway text-[25px] lg:text-[30px] relative typing-demo">Get In Touch</h2>
    <p class="font-medium text-gray-500 relative"></p>

    <form action="mailto:sr.dev.akshay@gmail.com" method="post" enctype="text/plain" class="form" data-form
        target="_blank">
        <button type="submit"
            class="group bg-white dark:bg-gray-800 w-10 h-10 hover:w-32 rounded-full absolute bottom-0 left-0 m-4 flex justify-center border items-center hover:ring-4 ring-gray-200">
            <p class="hidden group-hover:block">Contact me</p>
            <img class="w-5 lg:w-5" src="assets/arrow.svg" alt="">
        </button>
    </form>
</div>