
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgb(0, 0, 0);
    transition-duration: .3s;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 80%;
    transition-duration: .4s;
    padding-right: 10px;
    white-space: nowrap;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}