<h1 class="text-3xl font-semibold flex justify-between items-center p-6 border-b dark:bg-gray-800 dark:text-white">
    <!-- {{ details?.name }} -->
    <span class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block">
        Work Experience </span>
    <button class="text-gray-500 hover:text-gray-700" (click)="onClose()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</h1>

<div class="p-6 space-y-5 dark:bg-gray-900 dark:text-gray-200 overflow-auto max-h-[80vh]">
    <!-- details Info Section -->
    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-3"> {{ details?.company }}
        </h3>
        <p>{{ details?.position }}</p>
        <div class="flex gap-2">
            <p>{{ details?.time_period }}</p>
        </div>
    </div>
    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-2">Overview</h3>
        <p class="font-medium text-gray-500 dark:text-gray-300 text-md">
            {{ details?.overview }}
        </p>
    </div>
    <!-- Role Section -->
    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-3">My Role</h3>
        <p class="font-medium text-gray-500 dark:text-gray-300 text-md">
            {{ details?.my_role }}
        </p>
    </div>

    <!-- Projects Section -->

    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-3 pb-4">Projects</h3>
        <ul class="list-none pl-6 space-y-2 flex gap-4">
            @for (tech of details.projects; track $index) {
            <li>
                <img class="w-32 sm:w-36 object-contain hover:shadow-lg dark:hover:shadow-xl" [src]="tech.image"
                    alt="projects">
                <p class="font-medium text-gray-500 dark:text-gray-300 text-sm">{{tech.name}}</p>
            </li>
            }
        </ul>
    </div>

    <!-- Skills Acquired Section -->
    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-4">Skills Acquired</h3>
        <div class="flex gap-5 md:ml-5 mt-5">
            @for (tech of details.tech; track $index) {
            <div class="w-7 h-7 flex items-center justify-center inset-x-0 top-0 relative group gap-3">
                <img class="w-full h-full object-contain" [src]="tech.image" alt="tech">
                <!-- Tooltip -->
                <div
                    class="tooltip hidden group-hover:block absolute bottom-full mb-2 left-1/2 transform -translate-x-1/2 bg-gray-700 text-white text-xs font-semibold py-1 px-2 rounded">
                    {{ tech.name }}
                </div>
            </div>
            }
        </div>
    </div>

    <!-- Impact Section -->
    <div>
        <h3 class="font-bold font-playwrite text-2xl text-black dark:text-white inline-block m-x-3">Impact</h3>
        <p>{{details?.impact}}</p>
    </div>
</div>