<div
    class="bg-[url('assets/img/Topographic.svg')] md:row-span-2 col-span-2 md:col-span-1 bg-white rounded-[30px] static relative h-[560px] overflow-hidden flex">

    <div class="grid gap-4 grid-cols-3 rotate-[35deg] content-center absolute bottom-20 -right-20">
        <div class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/html5.svg" alt="">
        </div>
        <div class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/php.svg" alt="">
        </div>
        <div class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <!-- <img class="w-10 lg:w-16" src="assets/img/Party popper.svg" alt=""> -->
        </div>
        <!--  -->
        <a href="https://www.mysql.com/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/mysql.svg" alt="">
        </a>
        <a href="https://vitejs.dev/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/vitejs.svg" alt="">
        </a>
        <div class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <!-- <img class="w-10 lg:w-16" src="assets/img/Party popper.svg" alt=""> -->
        </div>
        <!--  -->
        <a href="https://github.com/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/github.svg" alt="">
        </a>
        <div class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/js.svg" alt="">
        </div>
        <a href="https://www.atlassian.com/software/jira" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/jira.svg" alt="">
        </a>
        <!--  -->
        <a href="https://laravel.com/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/laravel.svg" alt="">
        </a>
        <a href="https://tailwindcss.com/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/tailwindcss.svg" alt="">
        </a>
        <a href="https://www.postman.com/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/postman.svg" alt="">
        </a>
        <!--  -->
        <div>
        </div>
        <a href="https://www.php.net/" target="_blank"
            class="bg-white w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg">
            <img class="w-10 lg:w-16" src="assets/img/php.svg" alt="">
        </a>
    </div>
    <a href="index2.html#projects"
        class="bg-white w-10 h-10 rounded-full absolute bottom-0 left-0 m-4 flex justify-center items-center ring-1 ring-gray-400 hover:ring-4 hover:ring-gray-200">
        <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18.256 18.256"
            style="transition:.3s">
            <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581" transform="translate(-7.05 -7.012)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
                <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287" transform="translate(-7.756 -7)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
            </g>
            <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
        </svg>
    </a>
</div>