<div
    class="bg-[#98d0ff] dark:bg-gray-800  md:row-span-2 col-span-2 md:col-span-1 rounded-[30px] static relative h-[576px] hover:shadow-lg overflow-hidden">
    <div class="absolute -right-48 z-30">
        <div class="relative">
            <img class="w-[26rem] md:w-[28rem] h-60 md:h-52 rounded-lg rotate-[-35deg] relative bottom-[80px]"
                src="assets/img/swiftrevel.webp" alt="swiftrevel">
            <img class="w-[26rem] md:w-[28rem] h-60 md:h-56 rounded-lg rotate-[-35deg]"
                src="assets/img/netflix-cole.webp" alt="netflix">
        </div>
    </div>
    <div class="bg-[#ffc6d7]  dark:bg-gray-800 rounded-bl-full w-48 h-52 xl:w-52 xl:h-48 absolute top-0 right-0">
    </div>
    <!-- right top arrow -->
    <a href="https://netflix-clone-angular-chi.vercel.app" target="_blank"
        class="Btn bg-white duration-500 dark:bg-gray-700 absolute truncate m-4 whitespace-nowrap left-0 bottom-0  w-10 h-10 hover:w-28 hover:pl-2 flex justify-center items-center hover:justify-start rounded-full cursor-pointer ring-1 hover:ring-4 ring-gray-200 dark:ring-gray-400">
        <p class="text">Netflix</p>
        <img class="w-5 lg:w-5" src="assets/img/arrow.svg" alt="">
    </a>
</div>