<div
    class="bg-[#98d0ff] md:row-span-2 col-span-2 md:col-span-1 rounded-[30px] static relative h-[560px] hover:shadow-lg overflow-hidden">
    <div class="absolute -right-48 z-50 top-48">
        <img class="w-[26rem] md:w-[28rem] h-60 md:h-60 rounded-lg rotate-[-35deg]" src=" assets/img/netflix-cole.png"
            alt="hinez">
    </div>
    <div class="bg-[#ffc6d7] rounded-bl-full w-48 h-52 xl:w-52 xl:h-48 absolute top-0 right-0">
    </div>
    <!-- right top arrow -->
    <a href="https://netflix-clone-angular-chi.vercel.app"
        class="group bg-white w-10 h-10 hover:w-28 rounded-full absolute bottom-0 left-0 m-4 flex justify-center items-center hover:ring-4 ring-gray-200">
        <p class="hidden group-hover:block">Netflix Clone</p>
        <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18.256 18.256"
            style="transition:.3s">
            <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581" transform="translate(-7.05 -7.012)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
                <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287" transform="translate(-7.756 -7)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
            </g>
            <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
        </svg>
    </a>
</div>