<div
    class="bg-white dark:bg-gray-800  bg-[url('assets/img/doodle.png')] col-span-2 md:col-span-1 lg:col-span-2 rounded-[30px] p-6 lg:p-10 h-[280px] flex flex-col justify-between hover:shadow-lg bg-cover bg-center">
    <div>
        <h2 class="font-bold font-playwrite text-sky-800 dark:text-white text-[25px] lg:text-[30px]">{{headding}}</h2>
        <p class="font-medium text-sky-700 dark:text-white md:mt-5">{{how}}</p>
    </div>
    <div class="flex justify-between items-center">
        <a routerLink="/about">
            <button
                class="rounded-full bg-white dark:bg-gray-800 relative flex hover:ring-4 ring-gray-200 p-2 px-4 border-2 border-gray-200 dark:border-gray-400 dark:text-white dark:ring-gray-400">
                <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18.256 18.256"
                    style="transition:.3s">
                    <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                        <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581"
                            transform="translate(-7.05 -7.012)" fill="none" stroke="#0D1117" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5"></path>
                        <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287"
                            transform="translate(-7.756 -7)" fill="none" stroke="#0D1117" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5"></path>
                    </g>
                    <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
                </svg>
                Read More
            </button>
        </a>
        <p class="text-gray-500">{{date}}</p>
    </div>
</div>