<div class="col-span-2 md:col-span-1 rounded-[30px] relative h-[280px] hover:shadow-lg dark:bg-gray-500">
    <iframe [src]="mapUrl" width="100%" height="100%" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        allowfullscreen style="border-radius: 20px;">
    </iframe>
    <div
        class="absolute inset-0 m-auto w-28 h-28 border-[5px] border-white rounded-full flex items-center justify-center bg-sky-400/95 dark:bg-slate-500 hover-shake">
        <img src="assets/img/memoji-1.png" alt="Default Image" class="w-10 shake default-image">
        <img src="assets/img/head-hand.png" alt="Hover Image" class="w-20 shake hover-image">
    </div>

    </div>