@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@400;700&family=Roboto:wght@400;700&display=swap');

.font-playwrite {
    font-family: 'Playwrite HR Lijeva', cursive;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;

}

