<div class="container mx-auto grid grid-cols-2 lg:grid-cols-4 gap-4 p-4 px-12 xl:px-32 pb-20 content">
    <!-- Profile Card -->
    <app-profile [ngClass]="profile" />

    <!-- Maps -->
    <app-maps [ngClass]="maps" />
    <!-- row 2 vertical -->
    <app-techs [ngClass]="techs" />
    <!-- Spotify -->
    <app-spotify [ngClass]="spotify" />
    <!-- Linked In -->

    <app-social [ngClass]="spotify" />
    <!-- row 2 vertical netflix-->

    <app-project-1 [ngClass]="project1" />


    <app-how-it-started [ngClass]="profile" />

    <!-- github -->
    <app-github [ngClass]="spotify" />
    <!-- Yellow card -->
    <app-project-2 [ngClass]="profile" />
    <!-- Last card -->
    <app-contact-me [ngClass]="profile" />
</div>